.logo {
    width: 90px!important;
    height: auto;
    margin-left: 120px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.modifierUtilisateur {
    width: 100%;
}

.modifierUtilisateur h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.modifierUtilisateur form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.modifierUtilisateur label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modifierUtilisateur input[type="text"], .modifierUtilisateur input[type="password"], .modifierUtilisateur select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkbox-container {
    display: flex;
    align-items: baseline;
}

.modifierUtilisateur input[type="checkbox"] {
    margin-bottom: 15px;
    margin-left: 10px;
}

.modifierUtilisateur input[type="submit"] {
    background-color: #5c67f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modifierUtilisateur input[type="submit"]:hover {
    background-color: #4a54e1;
}