<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/accueil.css">
    <link rel="stylesheet" href="/css/fragments/navbar.css">
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>
<h1>Accueil</h1>
<h2 th:text="${utilisateurConnecte.nom + ' ' + utilisateurConnecte.prenom + ' ' + utilisateurConnecte.role.libelle}"></h2>
<ul th:each="utilisateur : ${utilisateurs}">
    <li>
        <span th:text="${utilisateur.nom + ' ' + utilisateur.prenom + ' ' + utilisateur.role.libelle}"></span>
        <a th:if="${utilisateur.id == utilisateurConnecte.id or
                    utilisateurConnecte.role.libelle == 'Gestionnaire' or
                    utilisateurConnecte.role.libelle == 'Responsable Resource Humaines' or
                    utilisateurConnecte.role.libelle == 'Administrateur'}"
           th:href="@{/utilisateurs/modifier/{id}(id=${utilisateur.id})}">Modifier</a>
        <form th:if="${utilisateurConnecte.role.libelle == 'Administrateur'}"
              th:action="@{/utilisateurs/supprimer/{id}(id=${utilisateur.id})}" method="post">
            <input type="submit" value="Supprimer" />
        </form>
    </li>
</ul>
</body>
</html>
