<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/accueil.css">
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <div class="accueil">
        <h1>Accueil</h1>
        <h2 th:text="${utilisateurConnecte.nom + ' ' + utilisateurConnecte.prenom + ' ' + utilisateurConnecte.role.libelle}"></h2>
        <ul th:each="utilisateur : ${utilisateurs}">
            <li>
                <span th:text="${utilisateur.nom + ' ' + utilisateur.prenom + ' ' + utilisateur.role.libelle}"></span>
                <a th:if="${utilisateur.id == #authentication.principal.utilisateur.id}"
                   th:href="${'/utilisateurs/modifier/'+#authentication.principal.utilisateur.id}">Modifier</a>
                <form sec:authorize="hasAnyRole('ROLE_Admin')"
                      th:action="${'/utilisateurs/supprimer/'+utilisateur.id}" method="post">
                    <input type="submit" value="Supprimer" />
                </form>
            </li>
        </ul>
    </div>
</body>
</html>
