<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Itineraire</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ruesArrets.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>
<h1>Itineraire</h1>
<ul>
    <li th:each="itineraireArret : ${itineraire.itineraireArrets}" th:text="${itineraireArret.arret.libelle}">
    </li>
</ul>
</body>
</html>