<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détail ramassage</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/ramassage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Itinéraire')">Itinéraire</button>
    <button class="tablinks" onclick="openTab(event, 'Cyclistes')">Cyclistes</button>
    <button class="tablinks" onclick="openTab(event, 'RuesEtArrêts')">Rues et Arrêts</button>
    <button class="tablinks" onclick="openTab(event, 'Incidents')">Incidents</button>
</div>
<div id="Itinéraire" class="tabcontent">
    <div th:each="itineraire : ${itineraires}">
        <h3 th:text="${itineraire.ramassageCyclisteVelo.cycliste.nom + ' ' + itineraire.ramassageCyclisteVelo.cycliste.prenom + ' - ID Vélo : ' + itineraire.ramassageCyclisteVelo.velo.id}"/>
        <a th:href="${itineraire.ramassageCyclisteVelo.ramassage.id} + '/itineraire/' + ${itineraire.id}">Cliquez pour voir les arrêts</a>
    </div>
</div>
<div id="Cyclistes" class="tabcontent">
    <div class="formfield center" th:if="${ramassage.enCours}">
        <button class="rounded-sm blueButton" onclick="addVelo(this)">Ajouter</button>
    </div>
    <form id="ajoutCyclisteVelo" method="post"  onsubmit="addVeloValidate(event)" th:action="${'/ramassage/' + ramassage.id + '/ajoutCyclisteVelo'}" style="display: none"  th:if="${ramassage.enCours}">
        <div class="formfield center">
            <label for="cyclisteRestant">Cycliste à ajouter</label>
            <select id="cyclisteRestant" name="cyclisteRestant">
                <option th:each="cycliste : ${cyclistesRestants}" th:value="${cycliste.id}" th:text="${cycliste.nom + ' ' + cycliste.prenom}"/>
            </select>
        </div>
        <div class="formfield center">
            <label for="veloRestant">Vélo à ajouter</label>
            <select id="veloRestant" name="veloRestant">
                <option th:each="velo : ${velosRestants}" th:text="${velo.id}"/>
            </select>
        </div>
        <div class="formfield center">
            <input class="rounded-sm greenButton" value="Valider" type="submit">
        </div>
    </form>
    <table>
        <thead>
        <tr>
            <th colspan="2">Cycliste</th>
            <th colspan="2">Vélo</th>
        </tr>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Id vélo</th>
            <th>Statut</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ramasssageCyclisteVelo : ${ramassage.ramassageCyclisteVelos}">
            <td class="center" th:text="${ramasssageCyclisteVelo.cycliste.nom}"/>
            <td class="center" th:text="${ramasssageCyclisteVelo.cycliste.prenom}"/>
            <td class="center" th:text="${ramasssageCyclisteVelo.velo.id}"/>
            <td class="center" th:text="${ramasssageCyclisteVelo.velo.statutVelo.libelle}"/>
        </tr>
        </tbody>
    </table>
</div>
<div id="RuesEtArrêts" class="tabcontent">
    <table>
        <thead>
        <tr>
            <th>Rue</th>
            <th>Arrêt</th>
            <th>Ramassé</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="rue : ${rues}">
            <tr>
                <td style="border: #333333 1px solid" th:rowspan="${rue.getArretRues.size()+1}" th:text="${rue.libelle}"></td>
            </tr>
            <tr th:each="arretVoisin : ${rue.getArretRues}">
                <td style="border: #333333 1px solid" th:text="${arretVoisin.arret.libelle}"></td>
                <td style="border: #333333 1px solid" th:text="${arretVoisin.arret.ramasse ? 'Oui' : 'Non'}" th:class="${arretVoisin.arret.ramasse ? 'ok' : 'ko'}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<div id="Incidents" class="tabcontent">
    <form method="post" th:action="${'/ramassage/' + ramassage.id + '/ajoutIncident'}">
        <div>
            <label for="libelle">Libelle</label>
            <input id="libelle" name="libelle" type="text" required>
        </div>
        <div>
            <label for="cyclisteConcerne">Cycliste concerné : </label>
            <select id="cyclisteConcerne" name="cyclisteConcerne" onchange="selectCycliste(this)">
                <option value="">Aucun</option>
                <option th:each="cycliste : ${cyclistes}" th:value="${cycliste.id}" th:text="${cycliste.nom + ' ' + cycliste.prenom}"></option>
            </select>
            <div id="cyclisteRemplacantDiv" style="display: none">
                <label for="cyclisteRemplacant">Cycliste remplaçant : </label>
                <select id="cyclisteRemplacant" name="cyclisteRemplacant">
                </select>
            </div>
        </div>
        <div>
            <label for="veloConcerne">Vélo concerné</label>
            <select id="veloConcerne" name="veloConcerne" onchange="selectVelo(this)">
                <option value="">Aucun</option>
                <option th:each="velo : ${velos}" th:value="${velo.id}" th:text="${velo.id}"></option>
            </select>
            <div id="veloRemplacantDiv" style="display: none">
                <label for="veloRemplacant">Vélo remplaçant</label>
                <select id="veloRemplacant" name="veloRemplacant">
                </select>
            </div>
        </div>
        <div>
            <label for="arret">Arret  concerné</label>
            <select id="arret" name="arret" onchange="selectArret(this)">
                <option value="">Aucun</option>
                <option th:each="arret : ${arrets}" th:value="${arret.id}" th:text="${arret.libelle}"></option>
            </select>
            <div id="arretDiv" style="display: none">
                <label for="arretDiv">L'arrêt est-il toujours accessible ?</label>
                <label for="pratiquableOui">Oui</label>
                <input id="pratiquableOui" name="pratiquable" type="radio" th:value="${true}">
                <label for="pratiquableNon">Non</label>
                <input id="pratiquableNon" name="pratiquable" type="radio" th:value="${false}" checked>
            </div>
        </div>
        <input type="submit" value="Valider" class="formfield center bg-blue-500 text-white border border-blue-700 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50 px-4 py-2 rounded-md">
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="/js/infoRamassage.js"></script>
</body>
</html>