<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Itineraire</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon"><link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/ramassage.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>
<h1 class="text-3xl">Itineraire</h1>
<ul class="text-center">
    <li th:each="itineraireArret : ${itineraire.itineraireArrets}" th:text="${itineraireArret.arret.libelle}">
    </li>
</ul>
</body>
</html>