<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itineraire</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/infoItineraire.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>
<div class="infoItineraire">
    <h1 class="text-3xl text-center">Itineraire</h1>
    <ul class="text-center">
        <li th:each="itineraireArret : ${itineraire.itineraireArrets}" th:text="${itineraireArret.arret.libelle} +  ${itineraireArret.datePassage != null ? ' - Passage efféctué le : ' +  itineraireArret.datePassageFormatted: ''}">
        </li>
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
