<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détail ramassage</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon"><link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/ramassage.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Itinéraire')">Itinéraire</button>
    <button class="tablinks" onclick="openTab(event, 'Cyclistes')">Cyclistes</button>
    <button class="tablinks" onclick="openTab(event, 'RuesEtArrêts')">Rues et Arrêts</button>
    <button class="tablinks" onclick="openTab(event, 'Incidents')">Incidents</button>
</div>
<div id="Itinéraire" class="tabcontent">
    <div th:each="itineraire : ${itineraires}">
        <h3 th:text="${itineraire.ramassageCyclisteVelo.cycliste.nom + ' ' + itineraire.ramassageCyclisteVelo.cycliste.prenom + ' - ID Vélo : ' + itineraire.ramassageCyclisteVelo.velo.id}"/>
        <a th:href="${itineraire.ramassageCyclisteVelo.ramassage.id} + '/itineraire/' + ${itineraire.id}">Cliquez pour voir les arrêts</a>
    </div>
</div>
<div id="Cyclistes" class="tabcontent">
    <div class="formfield center" th:if="${ramassage.enCours}">
        <button class="rounded-sm blueButton" onclick="addVelo(this)">Ajouter</button>
    </div>
    <form id="ajoutCyclisteVelo" method="post"  onsubmit="addVeloValidate(event)" th:action="${'/ramassage/' + ramassage.id + '/ajoutCyclisteVelo'}" style="display: none"  th:if="${ramassage.enCours}">
        <div class="formfield center">
            <label for="cyclisteRestant">Cycliste à ajouter</label>
            <select id="cyclisteRestant" name="cyclisteRestant">
                <option th:each="cycliste : ${cyclistesRestants}" th:value="${cycliste.id}" th:text="${cycliste.nom + ' ' + cycliste.prenom}"/>
            </select>
        </div>
        <div class="formfield center">
            <label for="veloRestant">Vélo à ajouter</label>
            <select id="veloRestant" name="veloRestant">
                <option th:each="velo : ${velosRestants}" th:text="${velo.id}"/>
            </select>
        </div>
        <div class="formfield center">
            <input class="rounded-sm greenButton" value="Valider" type="submit">
        </div>
    </form>
    <table>
        <thead>
        <tr>
            <th colspan="2">Cycliste</th>
            <th colspan="2">Vélo</th>
        </tr>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Id vélo</th>
            <th>Statut</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ramasssageCyclisteVelo : ${ramassage.ramassageCyclisteVelos}">
            <td class="center" th:text="${ramasssageCyclisteVelo.cycliste.nom}"/>
            <td class="center" th:text="${ramasssageCyclisteVelo.cycliste.prenom}"/>
            <td class="center" th:text="${ramasssageCyclisteVelo.velo.id}"/>
            <td class="center" th:text="${ramasssageCyclisteVelo.velo.statutVelo.libelle}"/>
        </tr>
        </tbody>
    </table>
</div>
<div id="RuesEtArrêts" class="tabcontent">
    <table>
        <thead>
        <tr>
            <th>Rue</th>
            <th>Arrêt</th>
            <th>Ramassé</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="rue : ${rues}">
            <tr>
                <td style="border: #333333 1px solid" th:rowspan="${rue.getArretRues.size()+1}" th:text="${rue.libelle}"></td>
            </tr>
            <tr th:each="arretVoisin : ${rue.getArretRues}">
                <td style="border: #333333 1px solid" th:text="${arretVoisin.arret.libelle}"></td>
                <td style="border: #333333 1px solid" th:text="${arretVoisin.arret.ramasse ? 'Oui' : 'Non'}" th:class="${arretVoisin.arret.ramasse ? 'ok' : 'ko'}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<div id="Incidents" class="tabcontent">
    <form method="post" th:action="${'/ramassage/' + ramassage.id + '/ajoutIncident'}">
        <div>
            <label for="libelle">Libelle</label>
            <input id="libelle" name="libelle" type="text" required>
        </div>
        <div>
            <label for="cyclisteConcerne">Cycliste concerné : </label>
            <select id="cyclisteConcerne" name="cyclisteConcerne" onchange="selectCycliste(this)">
                <option value="">Aucun</option>
                <option th:each="cycliste : ${cyclistes}" th:value="${cycliste.id}" th:text="${cycliste.nom + ' ' + cycliste.prenom}"></option>
            </select>
            <div id="cyclisteRemplacantDiv" style="display: none">
                <label for="cyclisteRemplacant">Cycliste remplaçant : </label>
                <select id="cyclisteRemplacant" name="cyclisteRemplacant">
                </select>
            </div>
        </div>
        <div>
            <label for="veloConcerne">Vélo concerné</label>
            <select id="veloConcerne" name="veloConcerne" onchange="selectVelo(this)">
                <option value="">Aucun</option>
                <option th:each="velo : ${velos}" th:value="${velo.id}" th:text="${velo.id}"></option>
            </select>
            <div id="veloRemplacantDiv" style="display: none">
                <label for="veloRemplacant">Vélo remplaçant</label>
                <select id="veloRemplacant" name="veloRemplacant">
                </select>
            </div>
        </div>
        <div>
            <label for="arret">Arret  concerné</label>
            <select id="arret" name="arret" onchange="selectArret(this)">
                <option value="">Aucun</option>
                <option th:each="arret : ${arrets}" th:value="${arret.id}" th:text="${arret.libelle}"></option>
            </select>
            <div id="arretDiv" style="display: none">
                <label for="arretDiv">L'arrêt est-il toujours accessible ?</label>
                <label for="pratiquableOui">Oui</label>
                <input id="pratiquableOui" name="pratiquable" type="radio" th:value="${true}">
                <label for="pratiquableNon">Non</label>
                <input id="pratiquableNon" name="pratiquable" type="radio" th:value="${false}" checked>
            </div>
        </div>
        <input type="submit" value="Valider">
    </form>
</div>



<script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has("tab")) {
        document.getElementById(urlParams.get("tab")).style.display = "flex"
    } else {
        document.getElementById("Itinéraire").style.display = 'flex'
    }

    let ajoutVelo = document.querySelector('#ajoutCyclisteVelo')

    let veloConcerne = document.querySelector('#veloConcerne');
    let veloRemplacant = document.querySelector('#veloRemplacant');

    let cyclisteConcerne = document.querySelector('#cyclisteConcerne');
    let cyclisteRemplacant = document.querySelector('#cyclisteRemplacant');

    let divVelo = document.querySelector("#veloRemplacantDiv")
    let divCycliste = document.querySelector("#cyclisteRemplacantDiv")
    let divArret = document.querySelector("#arretDiv")

    function openTab(evt, tapName) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("tab", tapName)
        window.location.search = urlParams;
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace("active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tapName).style.display = "flex";
        evt.currentTarget.className += "active";
    }

    // Tab Cyclistes
    function addVelo(button) {
        if (button.textContent === "Ajouter") {
            button.innerHTML = "Annuler"
            ajoutVelo.style.display = 'block'
        } else {
            button.innerHTML = "Ajouter"
            ajoutVelo.style.display = 'none'
        }
    }
    function addVeloValidate(evt) {
        let veloRestant = document.querySelectorAll('#veloRestant option')
        let cyclisteRestant = document.querySelectorAll('#cyclisteRestant option')

        let message = ""
        console.log(message)
        if (veloRestant.length === 0) {
            message = message.concat("Aucun vélo n'est actuellement disponible\n")
        }
        if (cyclisteRestant.length === 0) {
            message = message.concat("Aucun cycliste n'est actuellement disponible")
        }
        if (veloRestant.length === 0 || cyclisteRestant.length === 0) {
            evt.preventDefault()
            alert(message)
        }
    }
    // Tab Incidents
    function selectVelo(element) {
        if (element.value === "") {
            divVelo.style.display = 'none';
            veloRemplacant.innerHTML = ""
        } else {
            divVelo.style.display = 'block';
            veloRemplacant.innerHTML = ""
            for (var i = 0; i < veloConcerne.length; i++){
                var option = veloConcerne.options[i];
                if (element.value !== veloConcerne.options[i].value) {
                    veloRemplacant.appendChild(option.cloneNode(true))
                }
            }
        }
    }
    function selectCycliste(element) {
        if (element.value === "") {
            divCycliste.style.display = 'none';
            cyclisteRemplacant.innerHTML = ""
        } else {
            divCycliste.style.display = 'block';
            cyclisteRemplacant.innerHTML = ""
            for (var i = 0; i < cyclisteConcerne.length; i++){
                var option = cyclisteConcerne.options[i];
                if (element.value !== cyclisteConcerne.options[i].value) {
                    cyclisteRemplacant.appendChild(option.cloneNode(true))
                }
            }
        }
    }
    function selectArret(element) {
        if (element.value === "") {
            divArret.style.display = 'none'
        } else {
            divArret.style.display = 'block'
        }
    }
</script>
</body>
</html>