<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prochains arrêts</title>
    <link href="/css/itineraire.css" rel="stylesheet">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{fragments/navbar :: navbar}"/>
<h1 class="text-2xl text-center" th:if="${message != null}" th:text="${message}"></h1>
<div class="flex justify-center" th:if="${message == null}">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Libellé de l'arrêt</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${arretPrecedent != null}">
            <td class="text-xl text-green-500">Arret précédent</td>
            <td th:text="${arretPrecedent.arret.libelle}"></td>
        </tr>
        <tr th:if="${arretCourant != null}">
            <td class="text-xl text-blue-500">Arret courant</td>
            <td th:text="${arretCourant.arret.libelle}"></td>
        </tr>
        <tr th:if="${arretSuivant != null}">
            <td class="text-xl text-orange-500">Prochain arrêt</td>
            <td th:text="${arretSuivant.arret.libelle}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bouton pour mettre à jour l'itinéraire du cycliste -->
<div class="text-center mt-4">
    <button th:onclick="|updateItineraire(${utilisateur.id})|" class="btn btn-primary">Mettre à jour l'itinéraire</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script>
    function updateItineraire(userId) {
        console.log("test");
        fetch(`/ramassageDerniersArrets/${userId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    alert('Itinéraire mis à jour avec succès');
                    location.reload(); // Rafraîchir la page pour afficher les modifications
                } else {
                    alert('Erreur lors de la mise à jour de l\'itinéraire');
                }
            })
            .catch(error => {
                console.error('Erreur:', error);
            });
    }
</script>
</body>
</html>
