<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/listeUtilisateur.css">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
    <h1>Liste des Utilisateurs</h1>
    <div>
        <ul th:each="utilisateur : ${utilisateurs}">
            <li>
                <span th:text="${utilisateur.nom + ' ' + utilisateur.prenom + ' ' + utilisateur.role.libelle}"></span>
                <a th:if="${utilisateur.id == #authentication.principal.utilisateur.id}" sec:authorize="hasAnyRole('ROLE_Admin')"
                   th:href="${'/utilisateurs/modifier/'+#authentication.principal.utilisateur.id}">Modifier</a>
                <form sec:authorize="hasAnyRole('ROLE_Admin')"
                      th:action="${'/utilisateurs/supprimer/'+utilisateur.id}" method="post">
                    <input type="submit" value="Supprimer" />
                </form>
            </li>
        </ul>
    </div>
    <script src="/js/fragments/navbar.js"></script>
</body>
</html>
