<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Modifier Utilisateur</title>
    <link rel="stylesheet" href="/css/modifierUtilisateur.css">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <div class="modifierUtilisateur">
        <h1>Modifier Utilisateur</h1>
        <form th:action="@{/utilisateurs/update/{id}(id=${utilisateur.id})}" th:object="${utilisateur}" method="post">
            <label for="nom">Nom:</label>
            <input type="text" id="nom" th:field="*{nom}" />
            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" th:field="*{prenom}" />
            <label for="login">Login:</label>
            <input type="text" id="login" th:field="*{login}" />
            <div class="passmordDiv">
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" />
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" oninput="checkPasswordMatch();"/>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_RH', 'ROLE_Gestionnaire', 'ROLE_Admin')">
                <label for="role">Role:</label>
                <select id="role" th:field="*{role}">
                    <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                </select>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_RH', 'ROLE_Gestionnaire', 'ROLE_Admin')"
                    class="checkbox-container">
                <label for="actif">Actif:</label>
                <input type="checkbox" id="actif" th:field="*{actif}" />
            </div>
            <input type="submit" value="Modifier">
        </form>
    </div>
</body>
</html>
<script>
    function checkPasswordMatch() {
        var password = document.getElementById('password').value;
        var confirmPasswordField = document.getElementById('confirmPassword');

        if (password !== confirmPasswordField.value) {
            confirmPasswordField.style.borderColor = 'red';
        } else {
            confirmPasswordField.style.borderColor = 'green';
        }
    }
</script>
<script src="/js/fragments/navbar.js"></script>