<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Carte de la ville</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/vis-network/styles/vis-network.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/ramassageGlobal.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <div class="container">
        <div id="mynetwork"></div>
        <div class="cyclistes-list">
            <div class="card-container" th:if="${not #lists.isEmpty(ramassagesCyclistesVelos)}">
                <div class="cycliste-card" th:each="ramassageCyclisteVelo : ${ramassagesCyclistesVelos}" th:data-cycliste-id="${ramassageCyclisteVelo.cycliste.id}">
                    <h3 th:text="${ramassageCyclisteVelo.cycliste.prenom} + ' ' + ${ramassageCyclisteVelo.cycliste.nom}"></h3>
                </div>
            </div>
            <p th:unless="${not #lists.isEmpty(ramassagesCyclistesVelos)}">Aucun cycliste trouvé.</p>
        </div>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="/js/ruesArretsGlobal.js"></script>
    <script src="/js/ramassageGlobal.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
