<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ramassage</title>
    <link rel="stylesheet" href="/css/fragments/navbar.css">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/ramassage.css">
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>
<div class="container">
    <h1>Ramassage en cours</h1>
    <div class="card" th:each="rammassageEnCours : ${ramassagesEnCours}">
        <h3><a th:href="${'/ramassage/' + rammassageEnCours.id}" th:text="${'Ramassage n°' + rammassageEnCours.id}"/></h3>
    </div>
    <h1>Ramassage terminé</h1>
    <div class="card" th:each="rammassageTermine : ${ramassagesTermine}">
        <h3><a th:href="${'/ramassage/' + rammassageTermine.id}" th:text="${'Ramassage n°' + rammassageTermine.id}"/></h3>
    </div>
</div>
</body>
</html>