<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carte de la ville</title>
    <link rel="stylesheet" href="/css/listeUtilisateur.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/vis-network/styles/vis-network.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #mynetwork {
            width: 90%;
            height: 750px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>
<h1>Itinéraire de <span th:text="${utilisateur.prenom}"></span></h1>
<div id="mynetwork"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let arrets = /*[[${arrets}]]*/ [];
    let rueArrets = /*[[${rueArrets}]]*/ [];
    /*]]>*/
</script>
<script src="/js/fragments/navbar.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="/js/ruesArrets.js"></script>
</body>
</html>